<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Suzaku Travel</title>
    <!--    <link th:href="@{/css/style.css}" rel="stylesheet">-->
    <link rel="icon" th:href="@{images/logo-icon.png}" alt="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{css/sign-in.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{js/script.js}"></script>
</head>
<body>
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a th:href="@{/}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4 font-monospace">Suzaku Travel</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a th:href="@{/tours}" class="nav-link active" aria-current="page">Тури</a></li>
        <li class="nav-item"><a th:href="@{/users}" class="nav-link">Спільнота</a></li>
        <li class="nav-item"><a th:href="@{/faq}" class="nav-link">Питання</a></li>
        <li class="nav-item"><a th:href="@{/}" class="nav-link">Про нас</a></li>
    </ul>
</header>
<form th:action="@{/tours/create}" th:object="${tour}" method="post">
    <div class="form-group">
        <label for="name">Назва туру</label>
        <input type="text" class="form-control" id="name" th:field="*{name}">
    </div>
    <div class="form-group">
        <label for="description">Опис</label>
        <textarea class="form-control" id="description" rows="3" th:field="*{description}"></textarea>
    </div>
    <div class="form-group">
        <label for="location">Локація</label>
        <textarea class="form-control" id="location" rows="3" th:field="*{location}"></textarea>
    </div>
    <div class="form-outline datepicker-disable-past" data-mdb-input-init="" data-mdb-input-initialized="true" data-mdb-datepicker-initialized="true">
        <label for="datepicker" class="form-label">Select a date</label>
        <input type="date" class="form-control form-icon-trailing" id="datepicker" th:field="*{date}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>