<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Community</title>
    <link rel="icon" th:href="@{images/logo-icon.png}" alt="" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{js/script.js}"></script>
</head>
<body>

<header th:insert="index.html :: header"> </header>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Вийти"/>
</form>
<p>Список користувачів</p>
<table>
    <thread>
        <tr>
            <th>Ім'я</th>
            <th>Пошта</th>
        </tr>
    </thread>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
